# Must enter variable
DB_USERNAME: 
DB_PASSWORD: 
DB_DATABASE: 

## How to get monitor domain
# Get from terraform
monitor_domain: ${monitor_domain}

## How to get traefik creds
# Use your email
acme_email: 

## How to get traefik creds
# Get from running this commands
# htpasswd -nb <username> <secure_password>
traefik_dashboard_creds: 
